<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Vagabond</title>
		<script src="https://use.fontawesome.com/9639f71805.js"></script>
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />
		<!-- jQuery  -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
		<!--UIkit Slideshow -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/css/components/slideshow.css"></script>
		<script src ="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideshow.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/reset.css" type="text/css"/>
		<link rel="stylesheet" href="/css/style.css" type="text/css"/>

	</head>

		{{{ body }}}

</html>