<form>
    <select class="uk-select">
        <option value="atlanta">Atlanta</option>
        <option value="austin">Austin</option>
        <option value="boston">Boston</option>
        <option value="chicago">Chicago</option>
        <option value="cleveland">Cleveland</option>
        <option value="denver">Denver</option>
        <option value="las vegas">Las Vegas</option>
        <option value="los angeles">Los Angeles</option>
        <option value="nashville">Nashville</option>
        <option value="new orleans">New Orleans</option>
        <option value="new york city">New York City</option>
        <option value="philadelphia">Philadelphia</option>
        <option value="portland">Portland</option>
        <option value="san francisco">San Francisco</option>
        <option value="seattle">Seattle</option>
        <option value="washington dc">Washington D.C.</option>
    </select>
    	<button class="uk-button uk-button-default" id="search" type="submit">Search
		</button>
</form>
