<nav class="uk-navbar-container uk-margin" uk-navbar>
	<div class="uk-navbar-left">
		<div class="uk-navbar-item uk-logo vagabondLogo">Vagabond</div>
		</div>
		<div class="uk-navbar-right">
			<div class="uk-navbar-item">
				<button class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
				</button>
				<button class="uk-button uk-button-default" type="button" href="/wishlist" uk-icon="icon: heart">Wishlist
				</button>
				<button class="uk-button uk-button-default" type="button" href="/account" uk-icon="icon: user">
				</button>
			</div>
		</div>
	
</nav>
<ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
    <li><img src="/images/Atlanta.png" width="" height="" alt=""></li>
</ul>
