<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-logo vagabondLogo uk-navbar-left">Vagabond</div>
	<div class="uk-navbar-item uk-navbar-right">
		<button class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
		</button>
		<button class="uk-button uk-button-default" type="button" href="/wishlist" uk-icon="icon: heart">Wishlist
		</button>
		<button class="uk-button uk-button-default" type="button" href="/account" uk-icon="icon: user">
		</button>
	</div>
</nav>
<div class="background">
	<div class="uk-container" id="backgroundImg">
		<fieldset class="uk-fieldset" id="loginBox">
			<form>
				<legend class="uk-legend">Login</legend>
				<div class="uk-margin">
					<input class="uk-input uk-form-width-medium" type="text" placeholder="User Name">
				</div>
				<div class="uk-margin">
					<input class="uk-input uk-form-width-medium" type="text" placeholder="Password">
				</div>
			</form>
			<p id="accountYetText">Dont Have an Account Yet?</p>
			<br>
			<button class="uk-button uk-button-default" type="button" href="/signup">SIGN UP</button>
		</fieldset>
	</div>
</div>
<!-- Slideshow of images -->

<div>
	<img src ='' id= "Image1">

</div>
