<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-logo vagabondLogo uk-navbar-left">Vagabond</div>
</nav>

<div class="background uk-width-1-1">
<div class="uk-width-1-3">
</div>
	<div class="uk-container uk-width-1-3" id="backgroundImg">
		<fieldset class="uk-fieldset" id="loginBox">
			<form class="uk-form">
				<legend class="uk-legend">Login</legend>
				<div class="uk-margin">
					<input class="uk-input uk-form-width-medium" id="username" type="text" placeholder="User Name" required>
				</div>
				<div class="uk-margin uk-form-password">
					<input class="uk-input uk-form-password-toggle" type="password" id="passwordInput" placeholder="Password" data-uk-form-password></input>
				</div>
			</form>
			<a class="uk-button uk-button-default" type="button" href="/city/lookup">Login</a>
			<br>
			<p id="accountYetText">Dont Have an Account Yet?</p>
			<br>
			<a class="uk-button uk-button-default" type="button" href="/signup">SIGN UP</a>
		</fieldset>
	</div>
	<div class="uk-width-1-3">
</div>
</div>
