<nav class="uk-navbar-container uk-margin" uk-navbar>
	<div class="uk-navbar-left">
		<div class="uk-navbar-item uk-logo vagabondLogo">Vagabond</div>
		</div>
		<div class="uk-navbar-right">
			<div class="uk-navbar-item">
				<button class="uk-button uk-button-default" type="button" href="/wishlist" uk-icon="icon: heart">Wishlist
				</button>
				<button class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
				</button>
				<button class="uk-button uk-button-default" type="button" href="/account" uk-icon="icon: user">
				</button>
			</div>
		</div>
		{{!-- <div class="uk-width-large" uk-dropdown>
			<div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
				<div>
					<ul class="uk-nav uk-dropdown-nav">
						<li class="uk-active"><a href="#">Cities</a></li>
						<li><a href="#">Atlanta, GA</a></li>
						<li><a href="#">Austin, TX</a></li>
						<li><a href="#">Boston, MA</a></li>
						<li><a href="#">Chicago, IL</a></li>
						<li><a href="#">Cleveland, OH</a></li>
						<li><a href="#">Denver, CO</a></li>
						<li><a href="#">Las Vegas, NV</a></li>
						<li><a href="#">Los Angeles, CA</a></li>
						<li><a href="#">Nashville, TN</a></li>
						<li><a href="#">New Orleans, LA</a></li>
						<li><a href="#">New York City, NY</a></li>
						<li><a href="#">Portland, OR</a></li>
						<li><a href="#">Philidelphia, PA</a></li>
						<li><a href="#">San Fransisco, CA</a></li>
						<li><a href="#">Seattle, WA</a></li>
						<li><a href="#">Washington DC</a></li>
					</ul>
				</div>
			</div>
		</div> --}}
	
</nav>
<div class= "uk-container">
	<div  class="uk-slidenav-position" data-uk-slideshow>
		<ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
			<li><img src="/images/Atlanta.png" alt=""></li>
			<li><img src="/images/Austin.png" alt=""></li>
			<li><img src="/images/Boston.png" alt=""></li>
			<li><img src="/images/Chicago.png"  alt=""></li>
			<li><img src="/images/Cleveland.png"  alt=""></li>
			<li><img src="/images/DC.png"  alt=""></li>
			<li><img src="/images/Denver.png"  alt=""></li>
			<li><img src="/images/Las Vegas.png"  alt=""></li>
			<li><img src="/images/Los Angeles.png"  alt=""></li>
			<li><img src="/images/Nashville.png"  alt=""></li>
			<li><img src="/images/New Orleans.png"  alt=""></li>
			<li><img src="/images/New York City.png"  alt=""></li>
			<li><img src="/images/Philadelphia.png"  alt=""></li>
			<li><img src="/images/Portland.png"  alt=""></li>
			<li><img src="/images/San Francisco.png" alt=""></li>
			<li><img src="/images/Seattle.png" alt=""></li>
		</ul>
		<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
		<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
	</div>
</div>
</nav>