<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-logo vagabondLogo uk-navbar-left">Vagabond</div>
	<div class="uk-navbar-item uk-navbar-right">
		<a class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
		</a>
		<a class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: sign-out">
		</a>
	</div>
</nav>
<center>
<div class="background uk-width-1-1" id="containerBox">
	<div class="uk-width-1-8"></div>

	
	<div class="uk-width-1-2" id="profileBox">
		
		<div id="accountBox">
			<h3>Account Info</h3>
			<p>First Name: </p>
			<p id="firstNameDisplay"></p>
			<p>Last Name: </p>
			<p id="lastNameDisplay"></p>
			<p>E-mail: </p>
			<p id="emailDisplay"></p>
			<p>User Name: </p>
			<p id="userNameDisplay"></p>
			<p>Location: </p>
			<p id="locationDisplay"></p>
			<p>Age: </p>
			<p id="ageDisplay"></p>
		</div>
		<div id="wishlistBox">
			<h3>Wish List</h3>
			<p id="wishlistDisplay"></p>
		</div>
		<div id="citiesVisitedBox">
			<h3>Cities Visited</h3>
			<p id="citiesVisitedDisplay"></p>
		</div>
	</div>
	
	
	<div class="uk-width-1-8"></div>
</div>
</center>