<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-logo vagabondLogo uk-navbar-left">Vagabond</div>
	<div class="uk-navbar-item uk-navbar-right">
		<button class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
		</button>
		<button class="uk-button uk-button-default" type="button" href="/wishlist" uk-icon="icon: heart">Wishlist
		</button>
		<button class="uk-button uk-button-default" type="button" href="/account" uk-icon="icon: user">
		</button>
	</div>
</nav>