<nav class="uk-navbar-container uk-margin" uk-navbar>
	<div class="uk-navbar-left">
		<div class="uk-navbar-item uk-logo vagabondLogo">Vagabond
		</div>
		</div>
		<div class="uk-navbar-right">
			<div class="uk-navbar-item uk-navbar-right">
				<button class="uk-button uk-button-default" type="button" href="/wishlist" uk-icon="icon: heart">Wishlist
				</button>
				<button class="uk-button uk-button-default" type="button" href="/wishlist" uk-icon="icon: home">
				</button>
				<button class="uk-button uk-button-default" type="button" href="/wishlist" uk-icon="icon: user">
				</button>
			</div>
		</div>
	

</nav>