<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-logo vagabondLogo uk-navbar-left">Vagabond</div>
	<div class="uk-navbar-item uk-navbar-right">
		<a class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
		</a>
		<a class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: sign-out">
		</a>
	</div>
</nav>

<div class="background uk-width-1-1">
	<div class="uk-width-1-4">
	</div>
	<!-- Sign Up Form -->
	<div class="uk-container uk-width-1-2">
		<fieldset class="uk-fieldset" id="loginBox">
			<form class="uk-form" action="/signup" method="POST">
				<center><legend class="uk-legend">Sign-Up</legend></center>
				<div class="uk-margin">
					<input class="uk-input" type="text" name="first_name" placeholder="First Name">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" name="last_name" placeholder="Last Name">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="email" name="email" placeholder="e-mail">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" name="username" placeholder="User Name">
				</div>
				<div class="uk-margin uk-form-password">
					<input class="uk-input uk-form-password-toggle" type="password" name="password" placeholder="Password" data-uk-form-password></input>
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" name="location" placeholder="Location">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" name="age" placeholder="Age">
				</div>
				<button class="uk-button uk-button-default" type="submit">SIGN UP
				</button>
</form>
				
		</fieldset>
	</div>
	<div class="uk-width-1-4">
	</div>
</div>