<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-logo vagabondLogo uk-navbar-left">Vagabond</div>
	<div class="uk-navbar-item uk-navbar-right">
		<a class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
		</a>
	</div>
</nav>
<!-- Sign Up Form -->
	<div class="inputForm">
		<form> <fieldset class="uk-fieldset" id="signUpForm">
			<center><legend class="uk-legend">Sign-Up</legend></center>
			<div class="uk-margin">
				<input class="uk-input" type="text" id="firstNameInput" placeholder="First Name">
			</div>
			<div class="uk-margin">
				<input class="uk-input" type="text" id="lastNameInput" placeholder="Last Name">
			</div>
			<div class="uk-margin">
				<input class="uk-input" type="text" id="emailInput" placeholder="e-mail">
			</div>
			<div class="uk-margin">
				<input class="uk-input" type="text" id="userNameInput" placeholder="User Name">
			</div>
			<div class="uk-margin">
				<input class="uk-input" type="text" id="passwordInput" placeholder="Password">
			</div>
			<div class="uk-margin">
				<input class="uk-input" type="text" id="locationInput" placeholder="Location">
			</div>
			<div class="uk-margin">
				<input class="uk-input" type="text" id="ageInput" placeholder="Age">
			</div>
			<a class="uk-button uk-button-default" type="button" href="/city/lookup">SIGN UP
			</a>
			
		</fieldset>
		
	</form>
</div>