<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-logo vagabondLogo uk-navbar-left">Vagabond</div>
	<div class="uk-navbar-item uk-navbar-right">
		<a class="uk-button uk-button-default" type="button" href="/" uk-icon="icon: home">
		</a>
	</div>
</nav>

<div class="background uk-width-1-1">
	<div class="uk-width-1-4">
	</div>
	<!-- Sign Up Form -->
	<div class="uk-container uk-width-1-2">
		<fieldset class="uk-fieldset" id="loginBox">
			<form class="uk-form">
				<center><legend class="uk-legend">Sign-Up</legend></center>
				<div class="uk-margin">
					<input class="uk-input" type="text" id="firstNameInput" placeholder="First Name">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" id="lastNameInput" placeholder="Last Name">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="email" id="emailInput" placeholder="e-mail">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" id="userNameInput" placeholder="User Name">
				</div>
				<div class="uk-margin uk-form-password">
					<input class="uk-input uk-form-password-toggle" type="password" id="passwordInput" placeholder="Password" data-uk-form-password></input>
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" id="locationInput" placeholder="Location">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" id="ageInput" placeholder="Age">
				</div>
				<a class="uk-button uk-button-default" id
					="userSubmit" type="button" href="/city/lookup">SIGN UP
				</a>
</form>
				
		</fieldset>
	</div>
	<div class="uk-width-1-4">
	</div>
</div>