.vagabondLogo {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	color: #70abaf;


}
.uk-navbar-container {
	border-bottom: 40px;
	/*border: solid;*/
	border-color: #705d56;
	border-bottom-style: double;
	border-bottom-width: 10px; 
	padding: 10px;
	background-color: #474853; 
	background: #86b3d1;
	color: #86b3d1;

}

.uk-logo:hover {
	color: #705d56;
}

.uk-fieldset {
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style: solid;
	margin-right: 100px;
	margin-left: 100px;
}

#userSubmit {
	text-align: center;
}

#loginBox {
	text-align: center;
	padding-top: 100px;
	padding-right: 100px;
	padding-left: 100px;
	border-style: solid;
	margin-right: 100px;
	margin-left: 100px;
}

.uk-legend {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #70abaf;
}

.uk-button-primary {
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	font-weight: 2px;
}

.accountYetText {
	font-family: 'Pacifico', cursive;
	font-size: 9px;
	font-weight: 1px;


}